<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Heebo|Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


*:after {
  box-sizing: inherit;
  margin: 0px 0px 0px 0px;
}

.textofinal{
 text-align: center;
}
h1{ 
  text-align: center;
  background: rgba(0, 0, 0, 0.733);
  background-size: cover;
  font-family: 'Heebo', sans-serif;
  color: white;
}
h2{ 
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
 color: white;
}
p{ 
  margin: 1px 15px;
  
  font-family: 'Source Sans Pro', sans-serif;
 color: white;
}
.derecho{background:rgba(0, 0, 0, 0.733);
 grid-area: d; 
}
.genero {
  background: 
rgba(0, 0, 0, 0.733);
grid-area: g;
}
 .sustentable{background:  rgba(0, 0, 0, 0.733);
  grid-area: s; 
 }
 
 .logo{
  transform:matrix(1,0,0,1,0,0);
  transition:transform 0.5s ease 0s;
  }
  
  .logo:hover{
  transform:matrix(1.4,-0.54,0.54,1.4,0,0);
  }

 .logo{
   
  grid-area: f;
  background-image: url(Imagenes/SVG/Recurso\ 2.svg);
 overflow: hidden;
  z-index: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1fr;

}
 
@media (min-width: 796px) {
 
  /*nav*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   
   color:white;
   font-family: "Avenir Next", "Avenir", sans-serif;
   
 }
 
 a
 {
   text-decoration: none;
   color:white;
   
   transition: color 0.3s ease;
 }
 a:active{
   color: wheat;
 }
 a:hover
 {
   color:black;
 }
 
 #menuToggle
 {
   display: block;
   position: fixed;
   top: 25px;
   left: 15px;
   background-attachment: fixed;
   z-index: 8;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:white;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 0px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 { 
   position: absolute;
   width: 100px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #444444ab;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {font-family:'Roboto Condensed', sans-serif;
   padding: 20px 0;
   font-size: 30px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

/*nav*/

  .cabecera{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 300px 1fr 1fr;
  grid-template-areas: 
  ". . ."
  ". f ."
  ". e ."
  ". . ."
}
h1{
  font-size: 50px;
}
.eco{
  transform:matrix(1,0,0,1,0,0);
  transition:transform 0.5s ease 0s;
  }
  
  .eco:hover{
  transform:matrix(1.4,-0.54,0.54,1.4,0,0);
  }
.eco{
  
  text-align: center;
  grid-area: e;
  color: white;
  font-size: 200px;
  font-family:'Roboto Condensed', sans-serif;
}
.background{
  background-image: url(Imagenes/fondo.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}


.cabecera{
  background-color: rgba(255, 255, 255, 0.185);
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
 


 
}
.menubar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas: 
  "m m m"
}
.Menu{
 grid-area: m;
}

/*ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
 
  font-size: 20px ;
  float: left;
}

li a {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}*/

.contenido{
  background-color: rgba(255, 255, 255, 0.185);
  background-size: cover;
  display: grid;
  grid-template-columns: 60px  1fr 1fr 60px  1fr 60px;
  grid-template-rows: 35px 200px 400px 400px 400px 80px;
  margin: 0px;
  grid-row-gap: 10px;
  grid-template-areas: 
  
  ". . . . . ."
  "ti ti ti ti ti ti"
  ". d d . i ."
  ". g g . ii ."
  ". s s . iii ."
  ". . . . . .";
   z-index: 6;
}


.imagenuno{
  
  width:150%;
  transition:width 0.5s ease 0s;
  }
  
  .imagenuno:hover{
  width:160%;
  }
  .imagendos:hover{
    width:160%;
    }
    .imagentres:hover{
      width:160%;
      }
.imagenuno{
  z-index: 5;
  grid-area:i;
  background-image: url(Imagenes/justicia.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  clip-path: circle(50% at 50% 50%);
  
}
.derecho{
  margin: 0px 10px; 
 }
 .genero{

  margin: 0px 10px;
  }
  .sustentable{
    margin: 0px 10px;
  }
  
.titulo{
  
  text-align: center;
font-size: 50px;

  grid-area: ti;
}
.imagendos{
  width:150%;
  transition:width 0.5s ease 0s;
  z-index: 7;
  background-image: url(Imagenes/igualdad.jpg);
  background-size: cover;
  background-position: center ;
  grid-area:ii;
  clip-path:  circle(50% at 50% 50%);
}
.imagentres{
  width:150%;
  transition:width 0.5s ease 0s;
  z-index: 8;
  grid-area:iii;
  background-image: url(Imagenes/viento.jpg);
  background-size: cover;
  background-position: center;
  clip-path: circle(50% at 50% 50%);
}
.pie{
  display: grid;
  grid-template-rows: 20px;
  background:rgba(0, 0, 0, 0.747);
  text-align: center;
}
}
h2{
  font-size: 37px;
}
p{
  font-size: 25px;
}

@media (min-width: 0px) and (max-width: 767px) {
  /*nav*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 .eco{
  
  text-align: center;
  grid-area: e;
  color: white;
  font-size: 50px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif
}
 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
  
   color:white;
   font-family: "Avenir Next", "Avenir", sans-serif;
   
 }
 
 a
 {
   text-decoration: none;
   color:white;
   
   transition: color 0.3s ease;
 }
 a:active{
   color: wheat;
 }
 a:hover
 {
   color:black;
 }
 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 25px;
   left: 15px;
   
   z-index: 8;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:white;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 0px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 { 
   position: absolute;
   width: 100px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #444444ab;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 20px 0;
   font-size: 30px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

/*nav*/
  .cabecera{
    background-color: rgba(255, 255, 255, 0.185);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 300px 1fr 1fr;
    grid-template-areas: 
    ". . ."
    ". f ."
    ". e ."
    ". . ."
    
    
    
  }
  .background{
    background-image: url(Imagenes/fondo.jpg);
    position: relative;
    background-attachment: fixed;
  }
  
  
  .cabecera{
    
   
    z-index: 1;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
  }
  .menubar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "m m m"
  }
  .Menu{
   grid-area: m;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    font-size: 12px;
    float: left;
  }
  
  li a {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
  .contenido{
    background-color: rgba(255, 255, 255, 0.185);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 80px 1fr 300px 1fr 1fr;
    grid-template-areas: 
    "."
    "ti"
    "d"
    "g"
    "s"
    "imguno";
    grid-gap: 8px;
    
  }
  
 
  .titulo{
    font-family: 'Heebo', sans-serif;
    grid-area: ti;
    font-size: 20px;
    text-align: center;
    margin: 0 0 0 0;
  }

  .pie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". fi .";
    grid-template-rows: 50px;
    background:black;
  } 
}
.mobimguno{
  grid-area: imguno;
  background-image: url(Imagenes/justicia.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  
 }
 .textofinal{
   grid-area: fi;
  text-align: center;
 }