/* PARA TODO EL CODIGO DE LA PÁGINA PRINCIPAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
  "h h h h"
  ". . . ."
  ". . . ."
}
/* PARA TODO EL HEADER */
header{
    background-image: url(/imgs/Portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    grid-area: h;
    font-family: 'Montserrat', sans-serif;
  }

  #logo{
    width: 30vw;
    margin: 10px;
    float: left;

  } 
 .menu {
  transition: 0.3s ease;
  color: #ffffff;
  display: flex;
  justify-content: right;
  list-style: none;
  
  } 

  div .up{
    background-color: rgba(68, 68, 68, 0.466);
    z-index: 1;
    width: 100vw;
    height: 15vh;
    top: 0;
  }

  .menu li{
    width: 125px;
    height: 50px;
    transition-property: all;
    background-position-x: 0.9s linear;
    text-align: center;
    z-index: 2;
    color: solid rgba(141, 135, 135, 0.192);
    
  }

  a {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.45s;
    justify-content: initial;
  }



  #quote{
    align-items: center;
  } 

/* PARA TODO EL MAIN */
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  /* PARA TODO EL FOOTER */