@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Nixie+One|Poiret+One|Quicksand|Raleway|Voltaire&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  font-family: 'Poiret One';
}

body{
  height: 100%;
  width: 100vw;
  background-color: #fdecd6;
}

nav.menu {
list-style: none;
padding: 0;
font-size: 30px;
display: flex;
justify-content: center;
font-weight: 900;

}

li{
position: relative;
margin: 3% 0 0 0;
}

li a{
  padding: 30px;
  text-decoration: none;
  color: black;
  display: block;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: .3s;
}

li a:hover {
font-size: 40px;
font-weight: bold;
color: rgb(0, 0, 0);
transition: .3s;
background-color:rgba(0, 0, 0, 0.116);
border-radius: 4px;
} 

img{
width: 90px;
padding: 30px;
display: block;
transition-property: all;
transition-timing-function: linear;
transition-duration: .3s;
position: relative;
margin: 10px 0 0 0;
top: 30px;
}

#name{
  text-align: center;
  margin: 5% 0 0 0;
  font-size: 30px;
}

#intro{
  text-align: center;
}

img.perfil{
  display:block;
  margin:auto;
  justify-content: center;
  width: 30%;
  height: 50%;
  border-radius: 200px;
}

div.container{
  margin: 0 5% 20% 5%;
}

a.cv{
  text-decoration: none;
  font-weight: bold;
}