
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*BOX SIZING*/
html {
    box-sizing: border-box;
  }

/*AQUÍ EMPIEZO A EDITAR */
header{
    grid-column: 2/4
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
    background: rgba(255,235,184,1);
    background: -moz-linear-gradient(0deg, rgba(255,235,184,1) 0%, rgba(255,255,255,0.16) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,235,184,1)), color-stop(100%, rgba(255,255,255,0.16)));
    background: -webkit-linear-gradient(0deg, rgba(255,235,184,1) 0%, rgba(255,255,255,0.16) 100%);
    background: -o-linear-gradient(0deg, rgba(255,235,184,1) 0%, rgba(255,255,255,0.16) 100%);
    background: -ms-linear-gradient(0deg, rgba(255,235,184,1) 0%, rgba(255,255,255,0.16) 100%);
    background: linear-gradient(0deg, rgba(255,235,184,1) 0%, rgba(255,255,255,0.16) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebb8', endColorstr='#ffffff', GradientType=1 );
}

.menu li {
    display: inline-block;
    
}

.menu :before :hover{
   color: lightgray;
    
}

h1{
    font-size: 1cm;
    text-align: center;
    text-decoration-line: underline;
    padding: 1cm;
    padding-top: 1cm;
}

h2 {
    text-align: left;
    padding-top: 1cm;
    text-decoration-line: underline;
    color: rgb(21, 50, 131);
    font-size: .5cm
}

#etiqueta{
    width: 10cm;
    padding: 2cm;
}
main{
    grid-column: 1 / 5
}

footer{
    text-align: center;
    grid-area: 4 / 1 / 4 / 5;
    background-color: aliceblue

}

footer img{
    width: 1cm;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 1fr 1fr 100px;
    grid-gap: 10px;
}
