@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

*{
    font-family: 'Poiret One', cursive;
}
header{
    background-color: #1ECEFF
}

p.uno{
    background-color: #66E885
}

p.dos{
    background-color: #F6FF7D
}

p.tres{
    background-color: #E8BC66
}

footer{
    background-color: #FF8B70
}